[project]
	description = Test for Visa App Support
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rishigogia
[access "refs/for/refs/*"]
	read = group user/rishigogia
	push = group user/rishigogia
	label-Code-Review = -2..+2 group user/rishigogia
	label-Verified = -1..+1 group user/rishigogia
	rebase = group user/rishigogia
	removeReviewer = group user/rishigogia
	submit = group user/rishigogia
[access "refs/heads/*"]
	read = group user/rishigogia
	create = group user/rishigogia
	push = +force group user/rishigogia
	pushMerge = group user/rishigogia
[access "refs/tags/*"]
	push = +force group user/rishigogia
	pushTag = group user/rishigogia
	pushSignedTag = group user/rishigogia
